name: Release pipeline

on:
  push:
    branches:
      - master

jobs:
  check:
    name: Code quality check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: bahmutov/npm-install@v1

      - name: Check lint
        run: yarn lint:strict

  build:
    needs: check
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: bahmutov/npm-install@v1

      - name: Build
        run: yarn build -p never

      - name: Upload artifact
        uses: actions/upload-artifact@v2-preview
        with:
          name: dist_electron
          path: dist_electron/*.*

  list:
    needs: build
    name: List build result
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: dist_electron
      - name: List dist folder
        run: ls -al dist_electron

  publish:
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    needs: build
    name: Semantic release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      # - uses: bahmutov/npm-install@v1

      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: dist_electron

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          extra_plugins: |
            @semantic-release/changelog@3.0.6
            @semantic-release/git@7.0.18
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
